.form-item {
    display: grid;
    grid-template-rows: 10fr 20fr;
    background-color: #d3d4cd;
    border-radius: 3%;
    padding: 5%;
}

.button-list {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.btn {
    background-color: #44656f;
    color: white;
}
