.form-item {
    display: grid;
    grid-template-rows: 10fr 20fr;
    background-color: #db8b14;
    border-radius: 2%;
    padding: 5%;
}

.button-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    background-color: aliceblue;
}
