ul {
  list-style-type: none;
}

.form-container{
  background-color: #023246;
  color: #d3d4cd;
  padding: 20px;
  margin-top:20px; 
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #d3d4cd;
  color: #023246;
  border-radius: 3px;
  border-color: #d3d4cd;
}
button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#d3d4cd;
}


