<div class="filter-container">
  <span label="Sorting options">Sort</span>
  <ul>
    <li>
      <label>
      <input 
        label="Sorting by Name"
        type="checkbox"
        [checked]="isSortByName" 
        (change)="changeSortByName($event.target.checked)"
      > 
        By Name
      </label>
    </li>
    <li>
      <label>
        <input 
        label="Sorting by Date"
          type="checkbox"
          [checked]="isSortByDate" 
          (change)="changeSortByDate($event.target.checked)"
        > 
          By Date
      </label>
    </li>
  </ul>
  <span label="Filtering by status">Status</span>
  <ul>
    <li>
      <label>
        <input 
        label="Remain published status"
        type="checkbox" 
        [checked]="isPublishedStatus" 
        (change)="changePublishedFilter($event.target.checked)"
      > 
        Published
      </label> 
    </li>
    <li>
      <label>
        <input 
      label="Remain draft status"
        type="checkbox" 
        [checked]="isDraftStatus" 
        (change)="changeDraftFilter($event.target.checked)"
      > 
        Draft
      </label>
    </li>
  </ul>
  <div class="center-button">
    <button label="Create new form button" class="btn btn-default" (click)="openCreationModal(filterFormContent)">Create Form</button>
  </div>
</div>

<ng-template #filterFormContent let-formModal>
  <div class="modal-header">
    <h4 label="Form Title" class="modal-title">New Form</h4>
    <button label="Close window button" type="button" class="close" aria-label="Close" (click)="formModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addingForm">
    <div class="form-group">
      <label>Title</label>
        <input 
        label="Add form title" 
        type="text" 
        formControlName="title" 
        class="form-control" 
        placeholder="Add Title">
      </div>
      <div class="form-group">
        <select label="Select form status from the list" class="form-control" formControlName="status">
          <option *ngFor="let status of formStatuses">{{status}}</option>
        </select>
      </div>
      <div class="form-group">
      <label>Form Description</label>
      <textarea 
        label="Add form description" 
        formControlName="description" 
        class="form-control" 
        rows="3" 
        placeholder="add description">
      </textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button label="Close window button" class="btn btn-default" type="button" (click)="formModal.dismiss()">
      Cancel
    </button>
    <button label="Save form button" class="btn btn-primary" type="submit" [disabled]="addingForm.invalid" (click)="formModal.close()">
      Save & Publish
    </button>
  </div>
</ng-template>



