ul {
  list-style-type: none;
}

.filter-container{
  background-color: #023246;
  color: #d3d4cd;
  padding: 20px;
}
button {
  background-color: #d3d4cd;
  color: 	#023246;
  border-radius: 3px;
  border-color: #d3d4cd;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color:#d3d4cd;
}


