:host {
    background-color: #d3d4cd;
    padding: 10px 5% 300px 5%;
}

.forms-header {
    font-size: 1.4em;
    font-weight: 500;
}

.Form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4.5em;
    background-color: white;
    border-radius: 5%;
}

.card {
    border-radius: 5%;
}

.btn {
    background-color:#44656f;
    color: white;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}