:host {
    background-color: #db8b14;
    padding: 10px 10%;
}

:host .formsHeader {
    font-size: 1.4em;
    font-weight: 500;
}

.itemList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.add-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4.5em;
    background-color: white;
    border-radius: 5%;
}

.card {
    border-radius: 5%;
}

.btn {
    background-color:#fbdb48;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}