.data-forms{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #db8b14;
}

.formsHeader {
    font-size: 1.4em;
}

.data-forms p{
    padding-left: 10%;
}

.itemList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}