    <div *ngFor="let field of fields | fieldSearch: searching()" class="displayed-field">
      <div>
      <h3>
        {{ field .name }}
      </h3>
      <div>
        <ul>
          <li>
            {{field.type}}
          </li>
          <li>
            Created: {{field.created | date:'longDate'}}
          </li>
        </ul>
      </div>
    </div>

      <div class="btn-group-vertical buttons">
        <button class="btn btn-default">
          Share <i class="fas fa-paper-plane"></i>
        </button>
        <button class="btn btn-default">
           <i class="far fa-edit"></i>
        </button>
        <button class="btn btn-default">
          Delete <i class="fas fa-dumpster"></i>
        </button>
      </div>
    </div>


