ul {
  list-style-type: none;
}

.btn {
  background-color: #43656f;
  color: white;
  border-radius: 3px;
  border-color: #43656f;
  margin: 5px 10px;
  width: 120px;
}

.header {
  padding-top: 10px;
}

.row {
  margin: 0 auto;
  margin-top: 10px;
}

.card {
  border-radius: 3px;
  background-color: #d4d5d0;
  display: flex;
  justify-content: space-between;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.card-title {
  padding-left: 20px;
  padding-top: 20px;
}

.content {
  padding-left: 20px;
}

h1 {
  font-size: 1.5em;
}












