    <div *ngFor="let field of fields | fieldSearch: searching()" class="displayedField">
      <div class="fieldInfo">
      <h3>
        {{ field .name }}
      </h3>
      <div>
        <ul>
          <li>
            {{field.type}}
          </li>
          <li>
            Created: {{field.created | date:'longDate'}}
          </li>
        </ul>
      </div>
    </div>

      <div class="btn-group-vertical buttons">
        <button>Share</button>

        <button>Edit</button>

        <button>Delete</button>
      </div>
    </div>


