ul {
  list-style-type: none;
}
.displayedField {
  background-color: #db8b14;
  margin: 20px 0;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #272449;
  color: white;
  border-radius: 3px;
  border-color: #272449;
  margin: 5px 10px;
  width: 90px;
  display: flex;
  justify-content: space-between;
}

mat-icon {
    vertical-align: bottom;
}










