    <div *ngFor="let temporaryField of temporaryFields" class="displayedField">
      <div class="fieldInfo">
      <h3>
        {{ temporaryField .name }}
      </h3>
      <div>
        <ul>
          <li>
            {{temporaryField.type}}
          </li>
          <li>
            Created: {{temporaryField.created}}
          </li>
        </ul>
      </div>
    </div>

      <div class="btn-group-vertical buttons">
        <button>Share
          <mat-icon>send</mat-icon>
        </button>

        <button>Edit<mat-icon>edit</mat-icon></button>

        <button>Delete<mat-icon>delete</mat-icon></button>
      </div>
    </div>


