<div class="container">
  <div class="row">
    <div class="col-sm-3 filterFields">
      <app-fields-filter
        [isNumber]="numberType"
        (isNumberChange)="this.numberType=$event"
        [isText]="textType"
        (isTextChange)="this.textType=$event"
        [isTextArea]="textAreaType"
        (isTextAreaChange)="this.textAreaType=$event"
        [isCheckbox]="checkboxType"
        (isCheckboxChange)="this.checkboxType=$event"
        [isRadio]="radioType"
        (isRadioChange)="this.radioType=$event"
        [isAutocomplete]="autocompleteType"
        (isAutocompleteChange)="this.autocompleteType=$event"
        [isSortByName]="sortByName"
        (isSortByNameChange)="this.sortByName=$event"
        [isSortByDate]="sortByDate"
        (isSortByDateChange)="this.sortByDate=$event"
      ></app-fields-filter>
    </div>
    <div class="col-sm-9">
      <div class="searchFields">
        <app-search-fields></app-search-fields>
      </div>
      <div class="displayFields">
        <app-display-fields
          [filterTypes]="filterTypes"
          [isSortByName]="sortByName"
          [isSortByDate]="sortByDate"
        ></app-display-fields>
      </div>
    </div>
  </div>
</div>


