<div role="main" class="container">
  <div class="row">
    <div class="col-sm-3 filterFields">
      <app-fields-filter 
        (isSortByNameChange)="this.sortByName=$event"
        (isSortByDateChange)="this.sortByDate=$event"
        (myFieldsShown)="this.myOwnFields=$event"
        (updatedFilterList)="this.inFilterTypesGeneration($event)"></app-fields-filter>
    </div>
    <div class="col-sm-9">
      <div class="searchFields">
        <app-search-fields></app-search-fields>
      </div>
      <div class="displayFields">
        <app-display-fields
          [myFields]="myOwnFields"
          [filterTypes]="outFilterTypes"
          [isSortByName]="sortByName"
          [isSortByDate]="sortByDate"
        ></app-display-fields>
      </div>
    </div>
  </div>
</div>


