<div class="row col-sm-12">
  <div *ngFor="let form of (forms | formFilterPipe:filterStatuses | formOrderByPipe:isSortByName:isSortByDate | FormSearch: searching())" class="col-sm-6 p-2">
    <div class="card">
      <div class="header">
        <h3 class="card-title">
          {{form.name}}
        </h3>
      </div>
      <div class="card-body">
        <p class="card-description">{{form.description}}</p>
        <p>Status: {{form.status}}</p>
        <p>Created at: {{form.date.toLocaleString()}}
      <div class="buttons">
        <button class="btn btn-default" (click)="openViewModal(formContent, form)">
          View <i class="fas fa-eye"></i>
        </button>
        <button class="btn btn-default" (click)="shareFormItem(form.id)">
          Share <i class="fas fa-paper-plane"></i>
        </button>
        <button class="btn btn-default" (click)="deleteFormItem(form.id)">
          Delete <i class="fas fa-dumpster"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #formContent let-formModal>
  <div class="modal-header">
    <h4 class="modal-title">View Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="formModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div>
          <label class="font-weight-bold">Title</label>
          <p>{{modalForm.name}}</p>
        </div>
      <div>
          <label class="font-weight-bold">Form Description</label>
          <p>{{modalForm.description}}</p>
      </div>
      <div>
        <p class="font-weight-bold">
          Status: <span class="font-weight-normal">{{modalForm.status}}</span>
        </p>
      </div>
      <div>
        <p class="font-weight-bold">
          Created at: <span class="font-weight-normal">{{modalForm.date}}</span>
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" (click)="formModal.dismiss()">
      Close
    </button>
  </div>
</ng-template>
