<div role="main" class="container">
	<div class="row">
		<div class="col-md-6 m-auto">
			<form [formGroup]="registrationForm" (ngSubmit)="signUp()">
				<fieldset>
          <legend>Registration</legend>
					<div class="form-group">
						<label for="username">
							<span class="req">* </span> Username: <small>This will be your user name</small>
						</label>
						<input
							formControlName="username"
							type="text"
							name="username"
							id="username"
							class="form-control"
							placeholder="Enter your username"
							[ngClass]="{ 'is-invalid':  form.username.touched && form.username.errors }"
						/>
						<div *ngIf="form.username.errors?.required" class="invalid-feedback">
							Username is required.
						</div>
						<div *ngIf="form.username.touched && form.username.errors?.maxlength" class="invalid-feedback">
							Username max length is {{form.username.errors.maxlength.requiredLength}}
						</div>
					</div>

					<div class="form-group">
						<label for="password"><span class="req">* </span> Password: </label>
						<input
						  formControlName="password"
							class="form-control"
							type="password"
							name="password"
							id="password"
							placeholder="Enter your password"
							[ngClass]="{ 'is-invalid': form.password.touched && form.password.errors }"
						/>
						<div *ngIf="form.password.errors?.required" class="invalid-feedback">
							Password is required.
						</div>
						<div *ngIf="form.password.touched && form.password.errors?.minlength" class="invalid-feedback">
							Password min length is {{form.password.errors.minlength.requiredLength}}
						</div>
						<div *ngIf="form.password.touched && form.password.errors?.safePassword" class="invalid-feedback">
							{{form.password.errors.safePassword}}
						</div>
					</div>

					<div class="form-group">
						<label for="passwordConfirm"><span class="req">* </span> Confirm password: </label>
						<input
					  	formControlName="passwordConfirm"
							class="form-control"
							type="password"
							name="passwordConfirm"
							id="passwordConfirm"
							placeholder="Enter your password"
							[ngClass]="{
								'is-invalid': form.passwordConfirm.touched && (form.passwordConfirm.errors || registrationForm.errors?.passwordConfirmation)
							}"
						/>
						<div *ngIf="form.passwordConfirm.errors?.required" class="invalid-feedback">
							Confirm password is required.
						</div>
						<div *ngIf="form.passwordConfirm.touched && registrationForm.errors?.passwordConfirmation" class="invalid-feedback">
							Confirm password and password must be the same.
						</div>
					</div>
					<div class="form-group">
						<button [disabled]="registrationForm.invalid" class="btn btn-default" type="submit">Sign up</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>


