.container {
	padding-top: 50px;
}

fieldset {
	border: thin solid #ccc;
	border-radius: 4px;
	padding: 20px;
	padding-left: 40px;
	background: #fbfbfb;
}

.form-control {
	width: 95%;
}

label small {
	color: darkblue !important;
}

span.req {
	color:maroon;
	font-size: 112%;
}

.btn {
	background-color:#44656f;
	color: white;
}

