.options {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.logo {
    padding-left: 20%;
}

.navList {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.options {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.logSection {
    display: flex;
    justify-content: center;
    align-items: center;
}