<div class="filterContainer">
  <span>Sort</span>
  <ul>
    <li><input type="checkbox"> By Name</li>
  </ul>
  <span>Type</span>
  <ul>
    <li><input type="checkbox"> Number</li>
    <li><input type="checkbox"> Text</li>
    <li><input type="checkbox"> TextArea</li>
    <li><input type="checkbox"> Checkbox</li>
    <li><input type="checkbox"> Radio</li>
    <li><input type="checkbox"> Autocomplete</li>
  </ul>
  <span>Shared</span>
  <ul>
    <li><input type="checkbox"> Shared with me</li>
    <li><input type="checkbox"> My Fields</li>
  </ul>
  <div class="centerButton">
    <button>Create Field</button>
  </div>

</div>

