<div class="container">
  <div class="row">
    <div class="col-sm-3 filterformContainer">
      <app-forms-filter></app-forms-filter>
    </div>
    <div class="col-sm-9">
      <div class="searchForms">
        <app-search-forms></app-search-forms>
      </div>
      <div class="row">
        <app-forms-item class="col-sm-6 my-2"></app-forms-item>
        <app-forms-item class="col-sm-6 my-2"></app-forms-item>
        <app-forms-item class="col-sm-6 my-2"></app-forms-item>
        <app-forms-item class="col-sm-6 my-2"></app-forms-item>
        <app-forms-item class="col-sm-6 my-2"></app-forms-item>
        <app-forms-item class="col-sm-6 my-2"></app-forms-item>
      </div>
    </div>
  </div>
</div>

