/* .itemList {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
} */
.container {
  margin-top: 30px;
}

.form-item {
  display: grid;
  grid-template-rows: 10fr 20fr;
  background-color: #d3d4cd;
  border-radius: 2%;
  padding: 4%;
  margin: 10px 0 0 0;
}

.button-list {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.btn {
  background-color: #44656f;
  color: white;
}