:host {
    background-color: #272449;;
    padding: 10px 10% 300px 10%;
}

.fieldsHeader {
    font-size: 1.4em;
    color: white;
    font-weight: 500;
}

.itemList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.add-field {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4.5em;
    background-color: white;
    border-radius: 5%;
}

.card {
    border-radius: 5%;
}

.btn {
    background-color: #db8b14;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}