.data-fields{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #272449;
}

.fieldsHeader {
    font-size: 1.4em;
    color: white;
}

.data-fields{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #272449;
}

.data-fields p{
    padding-left: 10%;
}

.itemList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.product {
    display: grid;
    grid-template-rows: 5fr 1fr;
    background-color: white;
    border-radius: 5%;
}

.product p{
    padding-left: 10%;
}

.prodButtons {
    display: flex;
    justify-content: space-between;
    padding: 5px;

}
.add-field {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4.5em;
    background-color: white;
    border-radius: 5%;
}