body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.searchForm input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.searchForm button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #44656f;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchForm button:hover {
  background: #023246;
  color: white;
}

form.searchForm::after {
  content: "";
  clear: both;
  display: table;
}
