.product {
    display: grid;
    grid-template-rows: 5fr 1fr;
    background-color: white;
    border-radius: 5%;
}

.product p{
    padding-left: 10%;
}

.prodButtons {
    display: flex;
    justify-content: space-between;
    padding: 5px;

}